---
import '../styles/global.css'

type Props = {
  title?: string
  desc?: string
}
const { title, desc } = Astro.props

const seo = {
  desc: desc || 'ブループロトコル：スターレゾナンス webツール',
  title: title || 'スタレゾ webツール',
  url: 'https://bpsr.luis.fun',
  // image: 'https://luis.fun/luisfun.png',
  author: 'Luis',
  color: '#111',
}
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{seo.title}</title>
    <meta name="description" content={seo.desc} />
    <meta property="og:title" content={seo.title} />
    <meta property="og:description" content={seo.desc} />
    <meta property="og:url" content={seo.url} />
    <!--<meta property="og:image" content={seo.image} />-->
    <meta property="og:type" content="website" />
    <meta property="og:image:alt" content={seo.desc} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content={seo.author} />
    <meta name="msapplication-TileColor" content={seo.color} />
    <meta name="theme-color" content={seo.color}>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!--<link rel="apple-touch-icon" sizes="512x512" href={seo.image} />-->
    <!--<link rel="manifest" href="/manifest.webmanifest">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picocss/2.1.1/pico.classless.min.css" integrity="sha512-aBdxMsQGk5sActZ9xbTShdaOySmFyjXTdNCs111Sfrsy1rJbIGWbyFqcyeqrgO+SRWl9CUQbExqCXFToUmBMZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --font-sans: Arial, "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
    --font-mono: "SF Mono", Consolas, monospace;
  }
  html {
    font-family: var(--font-sans);
    font-size: 100%;
    line-height: 1.5;
  }
  h1 {
    font-size: 1rem;
    font-weight: normal;
  }
  h2 {
    font-size: 1.5em;
  }
  table {
    width: auto;
  }
  a {
    display: block;
    color: var(--link);
    cursor: pointer;
    text-decoration: none;
  }
  code {
    font-family: var(--font-mono);
  }
  select {
    cursor: pointer;
  }
  article > :last-child {
    margin-bottom: 0;
  }
  article.flex > * > :last-child {
    margin-bottom: 0;
  }
  [data-tooltip]:not(a,button,input,[role=button]) {
    border-bottom: none;
    cursor: inherit;
  }
</style>
